---
title: esa ( ⁰⊖⁰) An Expertise Sharing Application for Small Teams.
---
.slash.slash-upper
.container
  (\( ⁰⊖⁰)/)
  .tori= link_to image_tag('tori.svg', alt: 'tori'), '#'
  %h1= image_tag 'logo.svg', alt: 'esa', class: 'logo'
  %h2= 'An Expertise Sharing Application for small teams.'
  %p.under-development= 'Under Development'
.slash.slash-lower
